<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>首页</title>
    <link type="text/css" rel="stylesheet" href="https://repo.bfw.wiki/bfwrepo/css/bootstrap.3.3.4.css" />
    <link type="text/css" rel="stylesheet" href="https://repo.bfw.wiki/bfwrepo/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./index.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
        </script>
</head>

<body>
    <!-- 头部 -->
    <div class="list_top">
        <!-- title -->
        <div class="list-main">
            <h1>智能校园服务平台</h1>
        </div>
        <!-- option -->
        <div class="edit_option">
            <div class="nav_a">
                <div class="nav_b">
                    <div class="nav_c_index">
                        <a href="./index.html" style="color: #fff; text-decoration: none;">首页</a>
                    </div>
                    <div class="nav_c_page">
                        <ul class="nav_d">
                            <li class="nav_e_main" style="display: none; width: 100px;">首页</li>
                            <li class="nav_e_main" style=" width: 100px;">
                                <a href="#" style="color: white; text-decoration: none;">部门介绍</a>
                                <div class="nav_f_main">
                                    <ul class="nav_d">
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav_e_main" style=" width: 100px;">
                                <a href="#" style="color: white; text-decoration: none;">人才培养</a>
                                <div class="nav_f_main">
                                    <ul class="nav_d">
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav_e_main" style=" width: 100px;">
                                <a href="#" style="color: white; text-decoration: none;">实践交流</a>
                                <div class="nav_f_main">
                                    <ul class="nav_d">
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav_e_main" style=" width: 100px;">
                                <a href="#" style="color: white; text-decoration: none;">信息公开</a>
                                <div class="nav_f_main">
                                    <ul class="nav_d">
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                        <li class="nav_h_title">
                                            <a href="#" style="color: #fff; text-decoration: none;">下拉菜单1</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 主要内容 -->
    <div class="list-main-content">
        <div class="list-ll-a">
            <div class="list-lla-sub">
                <h5 class="list-lla-tit">
                    快速登陆入口
                </h5>
                <dl class="list-lla-txt">
                    <dd>
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        <a href="login_stu.html">学籍信息</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <a href="login_stu.html">学生申请</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <a href="login_stu.html">心理咨询</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        <a href="login_stu.html">在线心理测试</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <a href="login_stu.html">学科竞赛</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        <a href="login_stu.html">实践项目预约</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        <a href="login_stu.html">学生选课</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="list-ll-b">
            <h5 class="list-llb-title">
                <span class="fl">学校新闻</span>
                <a class="fr" href="#">更多</a>
            </h5>
            <div class="list-llb-box">
                <ul class="list-llb-s" style="margin-top: 9px;">
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "关于开展四川大学“大思政课”建设体育、美育、劳育示范课程及示范教师推荐工作的通知"
                            </span>
                        </a>
                    </li>
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "四川大学关于开展本科课程示范教案示范课件展示评选工作的通知"
                            </span>
                        </a>
                    </li>
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "第八届四川大学“互联网+”大赛网评结果公示及入围赛答辩通知"
                            </span>
                        </a>
                    </li>
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "关于开展四川大学基础学科拔尖学生培养研究课题（第一期）申报和教育部2022年度基础学科拔尖学生培养计划2.0研究课题推荐的通知"
                            </span>
                        </a>
                    </li>
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "关于举办第八届四川大学“互联网+”大学生创新创业大赛的通知"
                            </span>
                        </a>
                    </li>
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "关于2021-2022学年春季学期成绩登录的通知"
                            </span>
                        </a>
                    </li>
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "关于开展2022年度“大学生创新创业训练计划”结题评优工作的通知"
                            </span>
                        </a>
                    </li>
                    <li class="list-llb-list">
                        <a href="#" target="_blank" title="222">
                            <span class="list-llb-text">
                                <em>[置顶]</em>
                                "关于蒲向钖同学拟转入四川中医药高等专科学校的公示"
                            </span>
                        </a>
                    </li>



                </ul>
            </div>
        </div>
        <div style="width: 370px; height: 1015px;float: left;">
            <div class="list-ll-b" style="height: 580px; overflow: hidden;">
                <div class="edit_option">
                    <h5 class="list-llb-title">
                        <span class="fl">我校新闻</span>
                        <a href="#">更多</a>
                    </h5>
                    <div class="list-llb-box">
                        <ul class="list-llc-two">
                            <div class="edit_option"></div>
                            <li title="新闻标题">
                                <a href="#" target="_blank" title="">
                                    <em>[置顶]</em>
                                    川大新增30个国家级一流本科专业建设点
                                </a>
                            </li>
                            <li title="新闻标题">
                                <a href="#" target="_blank" title="">
                                    <em>[置顶]</em>
                                    培养一流人才方阵 四川大学在行动 ——本月本科教学院长例会学习...
                                </a>
                            </li>
                            <li title="新闻标题">
                                <a href="#" target="_blank" title="">
                                    <em>[置顶]</em>
                                    四川大学双创示范基地2021年度评估获评“优秀”
                                </a>
                            </li>
                            <li title="新闻标题">
                                <a href="#" target="_blank" title="">
                                    <em>[置顶]</em>
                                    我校喜获5个教育部首批虚拟教研室建设试点
                                </a>
                            </li>
                            <li title="新闻标题">
                                <a href="#" target="_blank" title="">
                                    <em>[置顶]</em>
                                    【教育部网站】四川大学坚定方向厚植沃土广拓空间 着力加强基础学...
                                </a>
                            </li>
                            <div class="img">
                                <img src="../image/专业团队.webp" alt="" width="330px">
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-ll-a" style="margin-left: 20px;">
            <div class="list-lla-sub" style="height:359px">
                <h5 class="list-lla-tit">教师服务</h5>
                <dl class="list-lla-txt">
                    <dd>
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <a href="login_tea.html" title=""><i class="fa fa-database"></i>成绩录入</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        <a href="login_tea.html" title=""><i class="fa fa-bar-chart-o"></i>课程申报</a>
                    </dd>
                    <dd>
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        <a href="login_tea.html" title=""><i class="fa fa-user"></i>学校论坛</a>
                    </dd>

                </dl>
            </div>
        </div>
    </div>

</body>

</html>